$fz-sp-small: 13px !default;
$fz-sp-normal: 14px !default;
$fz-sp-large: 15px !default;
$fz-sp-ex-large: 16px !default;

$fz-ex-small: 8px !default;
$fz-small: 16px !default;
$fz-medium: 20px !default;
$fz-large: 22px !default;
$fz-ex-large: 24px !default;
$fz-exx-large: 32px !default;
